* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.navbar__logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-left: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: #4b4848;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-item a:hover {
  color: #f26a2e;
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    margin-top: 1rem;
  }

  .nav-item {
    margin: 0.5rem 0;
  }
}
